<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<script src="{{ url_for('static', filename='interactive/validation.js') }}"></script>
</head>
<nav>
	<ul class="navbar">
		<li><a href="{{ url_for('index') }}">Home</a></li>
		<li><a href="{{ url_for('list_buckets') }}">My Buckets</a></li>
		<li><a href="{{ url_for('list_incomes') }}">My Incomes</a></li>
		<li><a href="{{ url_for('logout') }}">Logout</a></li>
	</ul>
</nav>

<h1>
	Update bucket
</h1>

<form action="{{ url_for('edit_bucket', uuid=bucket.get_id()) }}" method="post">
	{{ form.hidden_tag() }}
	<p>
		{{ form.name.label }}<br>
		{{ form.name(size=32) }}
		{% if form.name.errors %}
	<ul class="errors">
		{% for error in form.name.errors %}
		<li>{{ error }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	</p>
	<p>
		{{ form.goal.label }}<br>
		<input type="range" id="goalSlider" name="goal" min="0" max="100000" value="{{ form.goal.data or 0 }}"
			oninput="updateGoalInput(this.value)">
		<input type="text" id="goalInput" value="{{ (form.goal.data or 0)|int|round|safe }}"
			oninput="updateGoalSlider(this.value)">
		{% if form.goal.errors %}
	<ul class="errors">
		{% for error in form.goal.errors %}
		<li>{{ error }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	</p>
	<p>
		{{ form.currency.label }}<br>
		{{ form.currency()}}
		{% if form.currency.errors %}
	<ul class="errors">
		{% for error in form.currency.errors %}
		<li>{{ error }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	</p>
	<p>
		{{ form.deadline.label }}<br>
		{{ form.deadline() }}
		{% if form.deadline.errors %}
	<ul class="errors">
		{% for error in form.deadline.errors %}
		<li>{{ error }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	</p>
	<p>
		{{ form.comment.label }}<br>
		{{ form.comment(size=32) }}
	</p>
	<p>
		{{ form.icon.label }}
		{{ form.icon(size=32, id="emoji-input", oninput="checkLength()") }}
	</p>
	<p>
		{{ form.frequency.label }}<br>
		{{ form.frequency()}}
		{% if form.frequency.errors %}
	<ul class="errors">
		{% for error in form.frequency.errors %}
		<li>{{ error }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	</p>
	<p><input type="submit" value="Update"></p>
</form>
