<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<script src="{{ url_for('static', filename='interactive/modal.js') }}"></script>
</head>

<body data-delete-url="{{ url_for('delete_bucket', uuid=bucket.get_id()) }}">
	<div class="card">
		<h1>{{ bucket.icon }}{{ bucket.name }}</h1>
		<div class="chart-animation">
			{{ plot|safe }}
		</div>
		<p>Goal: {{ bucket.currency }} {{ bucket.goal|int|format_thousands }}</p>
		<p>Deadline: {{ bucket.deadline |format_date}}</p>
		<p>Allocated: {{ bucket.currency }} {{ bucket.current_amount|int|format_thousands }}</p>
		<p>Comment: {{ bucket.comment }}</p>
		<p>Created: {{ bucket.creation_date | format_date}}</p>
	</div>
	<h2>Allocations</h2>
	{% if allocations %}
	<table>
		<thead>
			<tr>
				<th>Amount</th>
				<th>Date</th>
				<th>Comment</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			{% for allocation in allocations %}
			<tr>
				<td>{{ bucket.currency }} {{ allocation.amount|int|format_thousands }}</td>
				<td>{{ allocation.date|format_date }}</td>
				{% if allocation.note %}
					<td>{{ allocation.note }}</td>
				{% else %}
					<td>-</td>
				{% endif %}
				<td>
					<div class="flex-container">
						<button class="option-button" onclick="location.href='{{ url_for('edit_allocation', uuid=allocation.get_id()) }}'">
						<i class="fas fa-edit"></i>
						<button class="option-button"
							onclick="location.href='{{ url_for('delete_allocation', uuid=allocation.get_id()) }}'">
							<i class="fas fa-trash-alt"></i>
						</button>
					</div>

				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No allocation for this bucket yet</p>
	{% endif %}

	<button class="plus-button" onclick="location.href='{{ url_for('create_allocation', bucket_uuid=bucket.get_id()) }}'">
		<i class="fas fa-plus-circle"></i>
	</button>

	<p>
		<div class="flex-container">
			<button type="button" onclick="openModal()">Delete</button>
			<button type="button" onclick="location.href='{{ url_for('edit_bucket', uuid=bucket.get_id()) }}'">Update</button>
		</div>
	</p>

	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<h2>Delete the bucket "{{ bucket.icon }} {{ bucket.name }}"</h2>
			<p>Are you sure you want to delete this bucket? This action cannot be undone.</p>
			<div class="flex-container modal-buttons">
				<button type="button" onclick="deleteBucket()">Yes</button>
				<button type="button" onclick="closeModal()">No</button>
			</div>
		</div>
	</div>
	<a href="{{ url_for('list_buckets')}}">Go back to my buckets</a>
	<a href="{{ url_for('index') }}">Back to homepage</a>

</body>
</html>
