<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<script src="{{ url_for('static', filename='interactive/validation.js') }}"></script>
</head>

<body>
    <form action="{{ url_for('create_income') }}" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.source.label }}<br>
            {{ form.source(size=32) }}
            {% if form.source.errors %}
        <ul class="errors">
            {% for error in form.source.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </p>
        <p>
            {{ form.amount.label }}<br>
            <input type="range" id="goalSlider" name="amount" min="0" max="100000" value="{{ form.amount.data or 0 }}"
                oninput="updateGoalInput(this.value)">
            <input type="text" id="goalInput" value="{{ (form.amount.data or 0)|int|round|safe }}"
                oninput="updateGoalSlider(this.value)">
            {% if form.amount.errors %}
        <ul class="errors">
            {% for error in form.amount.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </p>
        <p>
            {{ form.currency.label }}<br>
            {{ form.currency()}}
            {% if form.currency.errors %}
        <ul class="errors">
            {% for error in form.currency.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </p>
        <p>
            {{ form.start_date.label }}<br>
            {{ form.start_date() }}
            {% if form.start_date.errors %}
        <ul class="errors">
            {% for error in form.start_date.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </p>
        <p>
            {{ form.end_date.label }}<br>
            {{ form.end_date() }}
            {% if form.end_date.errors %}
        <ul class="errors">
            {% for error in form.end_date.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </p>
        <p>
            {{ form.frequency.label }}<br>
            {{ form.frequency()}}
            {% if form.frequency.errors %}
        <ul class="errors">
            {% for error in form.frequency.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </p>
        <p>
            {{ form.note.label }}<br>
            {{ form.note(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
</body>
