@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Bold.ttf') format('truetype'),
		url('fonts/Montserrat-ExtraLight.ttf') format('truetype'),
		url('fonts/Montserrat-Light.ttf') format('truetype'),
		url('fonts/Montserrat-Medium.ttf') format('truetype'),
		url('fonts/Montserrat-Regular.ttf') format('truetype'),
		url('fonts/Montserrat-SemiBold.ttf') format('truetype'),
		url('fonts/Montserrat-Thin.ttf') format('truetype');
}

body {
	background-color: #f0f0f0;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
}

h1 {
	text-align: center;
}

button,
input[type=submit] {
	background-color: #4CAF50;
	/* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px auto;
	display:block;
	cursor: pointer;
	border-radius: 12px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input[type=text],
input[type=password],
select,
textarea {
	width: 100%;
	max-width: 500px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

.bucket-card {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 16px;
	margin-bottom: 16px;
}

.card {
	background-color: #f0f0f0;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 16px;
	margin-bottom: 16px;
}
