/*@font-face {
	font-family: 'MyCustomFont';
	src: url('{{ url_for(' static', filename=' fonts/MyCustomFont.woff2') }}') format('woff2'),
	url('{{ url_for(' static', filename=' fonts/MyCustomFont.woff') }}') format('woff');
}
*/
input[type=text], input[type=password], select, textarea {
    width: 100%;
    max-width: 500px; /* Limit the maximum width */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


body {
	background-color: #f0f0f0;
}

button,
input[type=submit] {
	background-color: #4CAF50;
	/* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input[type=text],
input[type=password],
select,
textarea {
	width: 100%;
	max-width: 500px;
	/* Limit the maximum width */
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
