<html>

<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<title>Welcome</title>
</head>

<body>
	
	<nav>
		<ul class="navbar">
			<li><a href="{{ url_for('index') }}">Home</a></li>
			<li><a href="{{ url_for('list_buckets') }}">My Buckets</a></li>
			<li><a href="{{ url_for('list_incomes') }}">My Incomes</a></li>
			<li><a href="{{ url_for('logout') }}">Logout</a></li>
		</ul>
	</nav>
	<h1>Welcome, {{ user.username }}!</h1>
	
	<div class="round-display">
		<span class="display-label">Free Money</span>
		<span class="display-value">{{ free_money }}</span>
	</div>

	<div class="balance-section">
		<p>Balance: EUR {{ user.balance}}</p>
	</div>
	<button type="button" onclick="location.href='{{ url_for('enter_balance') }}'">Modify Balance</button>
	
</body>
</html>