<head>
	<link rel="stylesheet" href="{{ url_for('views', filename='/static/css/styles.css') }}">
</head>

<h1>
	Register
</h1>

<form action="" method="post">
	{{ form.hidden_tag() }}
	<p>
		{{ form.username.label }}<br>
		{{ form.username(size=32) }}
	</p>
	<p>
		{{ form.first_name.label }}<br>
		{{ form.first_name(size=32) }}
	</p>
	<p>
		{{ form.last_name.label }}<br>
		{{ form.last_name(size=32) }}
	</p>
	<p>
		{{ form.password.label }}<br>
		{{ form.password(id="password", size=32, oninput="checkPassword()") }}
	<ul id="passwordConstraints">
		<li id="length">❌ Must contain between 8-30 characters</li>
		<li id="uppercase">❌ Must contain at least an uppercase letter</li>
		<li id="lowercase">❌ Must contain at least a lowercase letter</li>
		<li id="number">❌ Must contain at least a number</li>
		<li id="special">❌ Must contain at least a special character (!@#$%{}[]&*<>?+=,./)</li>
	</ul>
	</p>

	<script>
		function checkPassword() {
			var password = document.getElementById('password').value;

			// Check length
			if (password.length >= 8 && password.length <= 30) {
				document.getElementById('length').innerHTML = "✅ Must contain between 8-30 characters";
			} else {
				document.getElementById('length').innerHTML = "❌ Must contain between 8-30 characters";
			}

			// Check uppercase
			if (/[A-Z]/.test(password)) {
				document.getElementById('uppercase').innerHTML = "✅ Must contain at least an uppercase letter";
			} else {
				document.getElementById('uppercase').innerHTML = "❌ Must contain at least an uppercase letter";
			}

			// Check lowercase
			if (/[a-z]/.test(password)) {
				document.getElementById('lowercase').innerHTML = "✅ Must contain at least a lowercase letter";
			} else {
				document.getElementById('lowercase').innerHTML = "❌ Must contain at least a lowercase letter";
			}

			// Check number
			if (/\d/.test(password)) {
				document.getElementById('number').innerHTML = "✅ Must contain at least a number";
			} else {
				document.getElementById('number').innerHTML = "❌ Must contain at least a number";
			}

			// Check special character
			if (/[!@#$%^&*()_+{}[\]:;<>,.?~\\-]/.test(password)) {
				document.getElementById('special').innerHTML = "✅ Must contain at least a special character (!@#$%{}[]&*<>?+=,./)";
			} else {
				document.getElementById('special').innerHTML = "❌ Must contain at least a special character (!@#$%{}[]&*<>?+=,./)";
			}
		}
	</script>
	<p>
		{{ form.password2.label }}<br>
		{{ form.password2(id="password2", size=32, oninput="checkPasswordMatch()") }}
		<span id="passwordMatch">❌ Passwords must match</span>
	</p>

	<script>
		function checkPasswordMatch() {
			var password = document.getElementById('password').value;
			var password2 = document.getElementById('password2').value;

			if (password === password2) {
				document.getElementById('passwordMatch').innerHTML = "✅ Passwords match";
			} else {
				document.getElementById('passwordMatch').innerHTML = "❌ Passwords must match";
			}
		}
	</script>
	<p>{{ form.submit() }}</p>
	<!--Add a login link -->
	<p>Already registered? <a href="{{ url_for('login') }}">Click here to login.</a></p>
	<form action="{{ url_for('shutdown') }}" method="post">
		<button type="submit">Shutdown Server</button>
	</form>
