<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<script src="{{ url_for('static', filename='interactive/validation.js') }}"></script>
</head>

<h1>
	Register
</h1>

<form action="" method="post">
	{{ form.hidden_tag() }}
	<p>
		{{ form.username.label }}<br>
		{{ form.username(size=32) }}
	</p>
	<p>
		{{ form.first_name.label }}<br>
		{{ form.first_name(size=32) }}
	</p>
	<p>
		{{ form.last_name.label }}<br>
		{{ form.last_name(size=32) }}
	</p>
	<p>
		{{ form.password.label }}<br>
		{{ form.password(id="password", size=32, oninput="checkPassword()") }}
	<ul id="passwordConstraints">
		<li id="length">❌ Must contain between 8-30 characters</li>
		<li id="uppercase">❌ Must contain at least an uppercase letter</li>
		<li id="lowercase">❌ Must contain at least a lowercase letter</li>
		<li id="number">❌ Must contain at least a number</li>
		<li id="special">❌ Must contain at least a special character (!@#$%{}[]&*<>?+=,./)</li>
	</ul>
	</p>

	<p>
		{{ form.password2.label }}<br>
		{{ form.password2(id="password2", size=32, oninput="checkPasswordMatch()") }}
		<span id="passwordMatch">❌ Passwords must match</span>
	</p>

	<p>{{ form.submit() }}</p>
	<!--Add a login link -->
	<p>Already registered? <a href="{{ url_for('login') }}">Click here to login.</a></p>
